<!-- This teamplate extends the base.html template. -->
{% extends 'base.html' %} 

<!-- This section is placed in the head section of the base.html, used for page specific resources. -->
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <meta name="description" content="Use and build your own workouts using Trainer11 to get that body you always dreamt of.">
    <title>Programs</title>
{% endblock %}

<!-- This section is placed in the body section of the base.html file. -->
{% block content %}
    
    <!-- This section is placed in the body section of the base.html file. -->
    {% include "includes/navigation-light.html" %}
    
    <!-- This section displays the hero slider. -->
    {% include "includes/header.html" %}
    
    <!-- This section displays the grid of programs saved in the database. -->
    <main class="container mb-1">
        <section class="row align-grid">
            <h4 class="col s12">Programs</h4>
        {% for item in programs %}
            <div class="col l4 m6 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="{{item.programImg}}" alt="{{item.programName}}">
                        <a href="{{url_for('workouts', programId=item._id)}}" class="deep-orange btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">arrow_forward</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{item.programName}}</span>
                        <p>{{item.programNotes}}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{url_for('program_form', category='programs', id=item._id)}}" class="teal-text">Edit</a>
                        <a href="#modal" class="red-text delete-modal modal-trigger" data-delete="{{url_for('delete_item', category='programs', id=item._id)}}">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section id="modal" class="modal">
            <div class="modal-content">
                <h4>Delete Item</h4>
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat delete-link">Yes</a>
                <a class="modal-close waves-effect waves-red btn-flat">No</a>
            </div>
        </section>
    </main>

{% endblock %}

<!-- This section is placed just before the closing body tag in the base.html, used for page specific resources. -->
{% block scripts %}
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}