{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <meta name="description" content="Display all the workouts associated to your workout program.">
    <title>Workouts</title>
{% endblock %}

{% block content %}
    
    {% include "includes/navigation-light.html" %}
    
    {% include "includes/header.html" %}
    
    <section class="container mb-1">
        <div class="mt-1">
            <a href="{{url_for('programs')}}" class="black-text">All Programs > </a>
            <span class="deep-orange-text">Workouts</span>
        </div> 
        <h4>Workouts</h4>
        <div class="row align-grid">
            {% for item in workout %}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{item.workoutImg}}" alt="{{item.workoutName}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{item.workoutName}}<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-action">
                            <a href="{{url_for('program_form', category='workouts', id=item._id)}}" class="teal-text">Edit</a>
                            <a href="#modal" class="red-text delete-modal modal-trigger" data-delete="{{url_for('delete_item', category='workouts', id=item._id)}}">Delete</a>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{item.workoutName}}<i class="material-icons right">close</i></span>
                            <p>{{item.workoutNotes}}</p>
                            <p><a href="{{url_for('exercises', id=program._id , ex=item._id)}}" class="deep-orange-text">Go to excercises</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="modal" class="modal">
            <div class="modal-content">
                <h4>Delete Item</h4>
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat delete-link">Yes</a>
                <a class="modal-close waves-effect waves-red btn-flat">No</a>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}