/* ----- Not Added to SCSS Styling ----- */

.collapsible .card-panel {
  padding: 5px 24px
}

.sidenav-trigger {
  position: absolute;
  left: -17px;
  top: 50%;
  transform: rotate(90deg);
  color: #ff5722;
  background-color: #fff;
  border-radius: 5px;
  width: 50px;
  text-align: center;
}
.exercises-carousel .slide,
.popout-panel {
  margin-bottom: 50px;
}

.item {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
}

.text-right {
  text-align: right;
}

.edit, .delete {
  padding: 5px;
  line-height: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 2px;
}

:focus {
    outline: 0;
}

.collapsible-body {
  background-color: #fff;
}

.hero-section p {
  font-size: 1.2em;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}


body {
  background-color: #f5f5f5;
}

.mb-1 {
  margin-bottom: 1.5em;
}

.mt-1 {
 margin-top: 1.1em; 
}

.mt-1 a {
  padding-right: 5px;
}

.footer-copyright .row {
  margin-bottom: 0;
} 

.page-footer {
  padding-top: 0;
}

.footer-quote {
  text-align: center;
}

.footer-img {
  background-image: url("https://traineroneonebucket.s3-eu-west-1.amazonaws.com/footer-barbell.jpg");
  background-size: cover;
}

.footer-overlay {
  background-color: rgb(0,0,0,0.85);
}

.nav-img {
  background-image: url("https://traineroneonebucket.s3-eu-west-1.amazonaws.com/footer-barbell.jpg");
  background-size: cover;
  height: 100%;
}

.nav-overlay {
  background-color: rgb(0,0,0,0.85);
  height:  64px;
}

.nav-light {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  box-shadow: unset;
}

nav .container,
nav .nav-wrap {
  height: 100%;
}

nav .nav-wrap {
  display: flex;
  justify-content: space-between;
}

.nav-home {
    align-self: center;
}

.nav-home a {
    height: 30px;
    align-self: center;
}

nav .brand-logo {
  position: relative;
}

.nav-btn {
  align-self: center;
  margin-bottom: 4px;
}

nav i.material-icons {
  height: unset;
  line-height: unset;
  display: inline;
}

.delete-modal {
  float: right;
  margin-right: 0;
}

.align-grid {
  margin: 0 -0.75rem;
}

nav .brand-logo {
  display: flex;
  align-items: center;
}

.collapse-header {
  font-size: 22px;
  line-height: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.form-nav {
  text-align: right;
}

.collapse-header .material-icons {
  color: #ff5722;
  align-self: center;
  margin-right: 5px;
}


.spin-icon {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* ----- Navigation Styling ----- */


/* ----- Hero Slider ----- */
.hero-section {
  background-color: #000;
  height: 550px; }

.home-carousel {
  display: none;
  height: 550px; }

.center {
  align-items: center; }

.left {
  align-items: flex-start; }

.right {
  align-items: flex-end; }

.slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 550px;
  background-size: cover;
}

.slide-1 {
  background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-1.jpg);
  background-position: center;
}

.slide-2 {
  background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-2.jpg);
  background-position: center;
}

.slide-3 {
  background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-3.jpg);
  background-position: center;
}

.slide .container {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.slide h1 {
  color: #fff;
  font-weight: 700;
  margin: 1rem 0 1rem 0; }

.slide .text {
  color: #fff;
  max-width: 70%;
  margin: 1rem 0 1rem 0; }

.center p {
  text-align: center; }

.left p {
  text-align: left; }

.right p {
  text-align: right; }

.slide a {
  margin: 1rem 0 1rem 0; }

.slick-prev {
  left: 15px;
  z-index: 1;
  width: 50px;
  height: 50px; }

.slick-next {
  right: 15px;
  z-index: 1;
  width: 50px;
  height: 50px; }

.slick-prev:before {
  font-family: 'Material Icons';
  content: "\e314";
  color: #fff;
  font-size: 45px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%; }

.slick-next:before {
  font-family: 'Material Icons';
  content: "\e315";
  color: #fff;
  font-size: 45px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%; }

.slick-dots {
  bottom: 15px; }

.slick-dots li,
.slick-dots li button {
  width: 30px;
  height: 30px; }

.slick-dots li button:before {
  color: #9e9e9e;
  font-size: 15px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  opacity: 0.9; }

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1; }
  
.exercises-carousel .slick-dots li button:before {
  color: #707070;
}
.exercises-carousel .slick-dots li.slick-active button:before{
  color: #ff5722;
}

/* ----- Excersises Slider ----- */
.excersises-section {
  display: flex;
  background-color: #fff; }

.excersises-section h1 {
  font-size: 106px;
  font-weight: 700;
  margin: 2rem 15px 2rem 15px; }

.workout-panel p {
  margin: 0 15px 2rem 15px; }

.workout-panel span {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
  padding: 4px 6px;
  line-height: 22px;
  margin-right: 3px; }

.workout-panel,
.excersises-panel {
  flex: 1;
  height: 550px; }

.workout-panel {
  display: flex;
  align-items: center; }

.excersises-panel {
  min-width: 0;
  min-height: 0; }

.excersises-section .card {
  width: 50%;
  margin: auto; }

.excersises-section .slide {
  height: 100%; }
  
.exercise-grid h1,
.exercise-grid p {
  margin: 0;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.workout-name {
  padding-bottom: 15px;
}

.exercise-grid h1 {
  font-size: 106px;
  font-weight: 700;
  margin-bottom: 20px;
}

.pills {
  line-height: 30px;
}

.pills span {
  white-space: nowrap;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 2px;
  padding: 4px 6px;
  line-height: 22px;
  margin-right: 3px;
  text-transform: capitalize;
}

.flex-center {
  display: flex;
  align-items: center; 
}

.card-action {
  display: flex;
  justify-content: space-between;
}

.card-action a {
  margin-right: 0 !important;
}
/*# sourceMappingURL=style.css.map */

@media only screen and (min-width: 993px) {
  .container {
      width: 85%;
  }
}

@media only screen and (max-width: 993px) {
  .exercise-grid h1 {
    font-size: 70px;
  }
  .popout-panel {
    transform: none !important;
  }
  
  .btn-control button {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .btn-left {
    float: left;
  }
  .form-nav button {
    width: 48%;
  }
} 
@media only screen and (max-width: 600px) {
  i.left {
      margin-right: 0;
  }
  
  .slide .text {
    max-width: 96%;
  }
  
  .exercise-grid h1 {
    font-size: 70px;
  }
  
  .popout-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .popout-panel a {
    padding: 8px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: right;
  }
  
  .popout-panel a:hover {
    color: #f1f1f1;
  }
  
  .popout-panel h1 {
    padding: 0 5px;
  }
  
  .popout-panel p {
    padding: 0 9px;
  }
  
  .popout-panel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .exercise-grid .popout-panel {
    padding: 0;  
  }
  
  .sidenav-trigger {
    position: fixed;
  }
  
  .btn-control button {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .btn-left {
    float: left;
  }
  .form-nav button {
    width: 48%;
  }
  
  .popout-open {
    width: 75%;
  }
  
  .footer-col {
    align-items: flex-start;
  }
}


/* ----- Image Media Queries ----- */
@media only screen and (max-width: 1600px) {
  .slide-1 {
    background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-1-1600w.jpg);
  }
}

@media only screen and (max-width: 1366px) {
  .slide-1 {
    background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-1-1366w.jpg);
  }
}

@media only screen and (max-width: 1024px) {
  .slide-1 {
    background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-1-1024w.jpg);
  }
  
  .slide-2 {
    background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-2-1024w.jpg);
  }
  
  .slide-3 {
    background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-3-1024w.jpg);
  }
}

@media only screen and (max-width: 769px) {
  .slide-1 {
    background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-1-768w.jpg);
  }
  
  .slide-2 {
    background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-2-768w.jpg);
  }
  
  .slide-3 {
    background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-3-768w.jpg);
  }
}

@media only screen and (max-width: 640px) {
  .slide-1 {
    background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-1-640w.jpg);
  }  
}