/* ----- Not Added to SCSS Styling ----- */



.collapse-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.form-nav {
  text-align: right;
}






.spin-icon {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* ----- Navigation Styling ----- */
nav .brand-logo {
  padding: 0 15px; }

/* ----- Hero Slider ----- */
.hero-section {
  background-color: #000;
  height: 500px; }

.home-carousel {
  display: none;
  height: 500px; }

.center {
  align-items: center; }

.left {
  align-items: flex-start; }

.right {
  align-items: flex-end; }

.slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  background-image: url(https://imgnooz.com/sites/default/files/wallpaper/nature/60859/beautiful-mountain-view-wallpapers-60859-6213432.jpg); }

.slide .container {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.slide h1 {
  color: #fff;
  font-weight: 700;
  margin: 1rem 0 1rem 0; }

.slide p {
  color: #fff;
  max-width: 70%;
  margin: 1rem 0 1rem 0; }

.center p {
  text-align: center; }

.left p {
  text-align: left; }

.right p {
  text-align: right; }

.slide a {
  margin: 1rem 0 1rem 0; }

.slick-prev {
  left: 15px;
  z-index: 1;
  width: 50px;
  height: 50px; }

.slick-next {
  right: 15px;
  z-index: 1;
  width: 50px;
  height: 50px; }

.slick-prev:before {
  font-family: 'Material Icons';
  content: "\e314";
  color: #fff;
  font-size: 45px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%; }

.slick-next:before {
  font-family: 'Material Icons';
  content: "\e315";
  color: #fff;
  font-size: 45px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%; }

.slick-dots {
  bottom: 15px; }

.slick-dots li,
.slick-dots li button {
  width: 30px;
  height: 30px; }

.slick-dots li button:before {
  color: #9e9e9e;
  font-size: 15px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  opacity: 0.9; }

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1; }

/* ----- Excersises Slider ----- */
.excersises-section {
  display: flex;
  background-color: #fff; }

.excersises-section h1 {
  font-size: 106px;
  font-weight: 700;
  margin: 2rem 15px 2rem 15px; }

.workout-panel p {
  margin: 0 15px 2rem 15px; }

.workout-panel span {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
  padding: 4px 6px;
  line-height: 22px;
  margin-right: 3px; }

.workout-panel,
.excersises-panel {
  flex: 1;
  height: 550px; }

.workout-panel {
  display: flex;
  align-items: center; }

.excersises-panel {
  min-width: 0;
  min-height: 0; }

.excersises-section .card {
  width: 50%;
  margin: auto; }

.excersises-section .slide {
  height: 550px; }

/*# sourceMappingURL=style.css.map */
