@media only screen and (max-width: 993px) {
  .slide-1 {
    background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-1-1280w.jpg);
  }
  
  .slide-2 {
    background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-2-1280w.jpg);
  }
  
  .slide-3 {
    background-image: url(https://traineroneonebucket.s3-eu-west-1.amazonaws.com/athlete-3-1280w.jpg);
  }
  
  .barbell-img {
    background-image: url("https://traineroneonebucket.s3-eu-west-1.amazonaws.com/barbell-1280w.jpg");
  }
  
  .exercise-grid h1 {
    font-size: 70px;
  }
  .popout-panel {
    transform: none !important;
  }
  
  .btn-control button {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .btn-left {
    float: left;
  }
  .form-nav button {
    width: 48%;
  }
}