<footer class="barbell-img page-footer">
    <div class="footer-overlay">
        <div class="container">
            <div class="row align-grid">
                <div class="col m4 s12 footer-col">
                    <div>
                        <h5 class="white-text">Inspire Me</h5>
                        <p class="grey-text text-lighten-2  mt-1">{{ quote }}</p>
                        <div class="mt-1">
                            <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/ferenc-kovacs-06190671/">
                                    <img src="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/linkedin.svg" alt="LinkedIn" aria-label="Read more about me on LinkedIn" class="social-media-icon">
                                </a>
                            <a target="_blank" rel="noreferrer" href="https://github.com/K0vacs/">
                                    <img src="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/github.svg" alt="GitHub" aria-label="Read more about me on GitHub" class="social-media-icon">
                                </a>
                            <a target="_blank" rel="noreferrer" href="https://k0vacs.github.io/Ferenc-Kovacs-Resume/">
                                    <img src="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/website.svg" alt="Website" aria-label="Read more about me on my website" class="social-media-icon">
                                </a>
                        </div>
                    </div>
                </div>
                <div class="col m4 footer-col hide-on-small-only">
                    <div>
                        <h5 class="white-text">Workouts</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-2" href="#!">Athena's Playbook</a></li>
                            <li><a class="grey-text text-lighten-2" href="#!">Strength Protocol</a></li>
                            <li><a class="grey-text text-lighten-2" href="#!">Boxer Prime</a></li>
                            <li><a class="grey-text text-lighten-2" href="#!">Total Abs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col m4 footer-col hide-on-small-only">
                    <div>
                        <h5 class="white-text">Exercises</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-2" href="#!">Fast Paced Cardio</a></li>
                            <li><a class="grey-text text-lighten-2" href="#!">Tendon Strength</a></li>
                            <li><a class="grey-text text-lighten-2" href="#!">Recruit</a></li>
                            <li><a class="grey-text text-lighten-2" href="#!">Stand & Deliver</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    © 2019 Copyright Reserved
                    <a class="grey-text text-lighten-2 right" href="{{url_for('program_form')}}">Add Program</a>
                </div>
            </div>
        </div>
    </div>
</footer>