<nav>
    <div class="container">
        <div class="nav-wrap">
            <div class="nav-home">
                <a href="{{url_for('programs')}}" class="brand-logo">
                    Trainer&nbsp;
                    <img src="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/icons.png" height="30px" />
                </a>
            </div>
            <div class="nav-btn">
                <a href="{{url_for('program_form')}}" class="deep-orange waves-effect waves-light btn"><i class="material-icons left">add_circle</i>add program</a>
            </div>
        </div>
    </div>
</nav>

<section class="hero-section">
    <div class="home-carousel">
        <div>
            <div class="slide slide-1">
                <div class="container center">
                    <h1>Spirit</h1>
                    <p>“Training gives us an outlet for suppressed energies created by stress and thus tones the spirit just as exercise conditions the body.” <br>- Arnold Schwarzenegger</p>
                    <a class="deep-orange waves-effect waves-light btn-large">button</a>
                </div>
            </div>
        </div>
        <div>
            <div class="slide slide-2">
                <div class="container left">
                    <h1 class="left">Dreams</h1>
                    <p class="left">“Never give up on a dream just because of the time it will take to accomplish it. The time will pass anyway.”<br>- Earl Nightingale</p>
                    <a class="deep-orange left waves-effect waves-light btn-large">button</a>
                </div>
            </div>
        </div>
        <div>
            <div class="slide slide-3">
                <div class="container right">
                    <h1 class="right">Growth</h1>
                    <p class="right">“I will beat her. I will train harder. I will eat cleaner. I know her strengths. I’ve lost to her before but not this time. She is going down. I have the advantage because I know her well. She is the old me.”<br>- Unknown</p>
                    <a class="deep-orange right waves-effect waves-light btn-large">button</a>
                </div>
            </div>
        </div>
    </div>
</section>