<section class="hero-section">
    <div class="home-carousel">
        <div>
            <div class="slide slide-1">
                <div class="container center">
                    <h1>Spirit</h1>
                    <p class="text">“Training gives us an outlet for suppressed energies created by stress and thus tones the spirit just as exercise conditions the body.” <br>- Arnold Schwarzenegger</p>
                </div>
            </div>
        </div>
        <div>
            <div class="slide slide-2">
                <div class="container left">
                    <h1 class="left">Dreams</h1>
                    <p class="left text">“Never give up on a dream just because of the time it will take to accomplish it. The time will pass anyway.”<br>- Earl Nightingale</p>
                </div>
            </div>
        </div>
        <div>
            <div class="slide slide-3">
                <div class="container right">
                    <h1 class="right">Growth</h1>
                    <p class="right text">“I will beat her. I will train harder. I will eat cleaner. I know her strengths. I’ve lost to her before but not this time. She is going down. I have the advantage because I know her well. She is the old me.”<br>- Unknown</p>
                </div>
            </div>
        </div>
    </div>
</section>