<nav>
    <div class="container">
        <div class="nav-wrap">
            <div class="nav-home">
                <a href="{{url_for('programs')}}" class="brand-logo">
                    Trainer&nbsp;
                    <img src="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/icons.png" height="30px" />
                </a>
            </div>
            <div class="nav-btn">
                <a href="{{url_for('program_form')}}" class="deep-orange waves-effect waves-light btn"><i class="material-icons left">add_circle</i>add program</a>
            </div>
        </div>
    </div>
</nav>

<section class="hero-section">
    <div class="home-carousel">
        <div>
            <div class="slide slide-1">
                <div class="container center">
                    <h1>Heading 1</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatem nobis labore praesentium distinctio consequuntur dolorem optio expedita mollitia odio voluptas, cumque incidunt dignissimos odit ullam libero eligendi! Sequi,
                        repellat!</p>
                    <a class="deep-orange waves-effect waves-light btn-large">button</a>
                </div>
            </div>
        </div>
        <div>
            <div class="slide slide-2">
                <div class="container left">
                    <h1 class="left">Heading 2</h1>
                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatem nobis labore praesentium distinctio consequuntur dolorem optio expedita mollitia odio voluptas, cumque incidunt dignissimos odit ullam libero eligendi! Sequi,
                        repellat!</p>
                    <a class="deep-orange left waves-effect waves-light btn-large">button</a>
                </div>
            </div>
        </div>
        <div>
            <div class="slide slide-3">
                <div class="container right">
                    <h1 class="right">Heading 3</h1>
                    <p class="right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatem nobis labore praesentium distinctio consequuntur dolorem optio expedita mollitia odio voluptas, cumque incidunt dignissimos odit ullam libero eligendi! Sequi,
                        repellat!</p>
                    <a class="deep-orange right waves-effect waves-light btn-large">button</a>
                </div>
            </div>
        </div>
    </div>
</section>