<nav class="nav-img">
    <div class="nav-overlay">
        <div class="container">
            <div class="nav-wrap">
                <div class="nav-home">
                    <a href="{{url_for('programs')}}" class="brand-logo">
                        Trainer&nbsp;
                        <img src="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/icons.png" height="30px" />
                    </a>
                </div>
                <div class="nav-btn">
                    <a href="{{url_for('program_form')}}" class="deep-orange waves-effect waves-light btn"><i class="material-icons left">add_circle</i>add program</a>
                </div>
            </div>
        </div>
    </div> 
</nav>