<nav class="nav-light">
    <div class="container">
        <div class="nav-wrap">
            <div class="nav-home">
                <a href="{{url_for('programs')}}" class="brand-logo">
                    Trainer&nbsp;
                    <img src="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/icons.png" height="30px" />
                </a>
            </div>
            <div class="nav-btn">
                <a href="{{url_for('program_form')}}" class="deep-orange waves-effect waves-light btn">
                    <i class="material-icons left">add_circle</i>
                    <span class="hide-on-small-only nav-btn-text">add program</span>
                </a>
            </div>
        </div>
    </div>
</nav>