{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <ul class="collapsible popout">
            <li class="active">
                <div class="collapse-header active"><span class="">1</span> Exercises</div>
                <div class="collapsible-body">
                    <div class="row">
                        <form id="exercise-form" method="post" class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="exercise-name" type="text"  name="exerciseName" class="validate" required>
                                    <label for="exercise-name">Name</label>
                                </div>
                                <div class="file-field input-field col s6">
                                    <div class="btn deep-orange">
                                        <span>Image</span>
                                        <input id="file-input" type="file" name="exerciseImage" required>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <select multiple required>
                                      <option value="" disabled selected>Choose your option</option>
                                      <option value="chest">Chest</option>
                                      <option value="biceps">Biceps</option>
                                      <option value="triceps">Triceps</option>
                                      <option value="forearms">Forearms</option>
                                      <option value="deltoids">Deltoids</option>
                                      <option value="rhomboids">Rhomboids</option>
                                      <option value="abs">Abs</option>
                                      <option value="obliques">Obliques</option>
                                      <option value="traps">Traps</option>
                                      <option value="lats">Lats</option>
                                      <option value="1ower-back">Lower Back</option>
                                      <option value="glutes">Glutes</option>
                                      <option value="groin">Groin</option>
                                      <option value="quads">Quads</option>
                                      <option value="hamstrings">Hamstrings</option>
                                      <option value="calves">Calves</option>
                                    </select>
                                    <label>Muscle Group</label>
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="Duration in minutes" id="first_name" type="number" name="exerciseDuration" min="1" max="1000" class="validate" required>
                                    <label for="first_name">Duration</label>
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="Difficulty from 1 to 10" id="first_name" type="number" name="exerciseDifficulty" min="1" max="10" class="validate" required>
                                    <label for="first_name">Difficulty</label>
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="Number of sets" id="first_name" type="number" name="exerciseSets" min="1" max"1000" class="validate" required>
                                    <label for="first_name">Sets</label>
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="Number of reps" id="first_name" type="number" name="exerciseReps" min="1" max="1000" class="validate" required>
                                    <label for="first_name">Reps</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="textarea1" name="exerciseNotes" class="materialize-textarea" required></textarea>
                                    <label for="textarea1">Notes</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <button type="submit" data-save="exercise" class="deep-orange waves-effect waves-light btn"><i class="material-icons left">save</i>Save</button>
                                </div>
                                <div class="col s6 form-nav">
                                    <button type="button" data-nav="home" class="deep-orange waves-effect waves-light btn">Exit</button>
                                    <button type="button" data-nav="workouts" class="deep-orange waves-effect waves-light btn">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapse-header"><i class="material-icons">filter_drama</i>Workouts</div>
                <div class="collapsible-body">
                    <div class="row">
                        <form id="workout-form" method="post" class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="workout-name" type="text"  name="workoutName" class="validate" required>
                                    <label for="workout-name">Name</label>
                                </div>
                                <div class="file-field input-field col s6">
                                    <div class="btn deep-orange">
                                        <span>Image</span>
                                        <input id="file-input" type="file" name="exerciseImage" required>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <select id="exercisesList" multiple required>
                                        <option value="" disabled selected>Choose your option</option>
                                            
                                        
                                    </select>
                                    <label>Exercises</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="textarea1" name="exerciseNotes" class="materialize-textarea" required></textarea>
                                    <label for="textarea1">Notes</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <button type="submit" data-save="workout" class="deep-orange waves-effect waves-light btn"><i class="material-icons left">save</i>Save</button>
                                </div>
                                <div class="col s6 form-nav">
                                    <button type="button" data-nav="exercises" class="deep-orange waves-effect waves-light btn">Prev</button>
                                    <button type="button" data-nav="program" class="deep-orange waves-effect waves-light btn">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapse-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s6">
                            <button type="submit" data-save="exercise" class="deep-orange waves-effect waves-light btn"><i class="material-icons left">save</i>Save</button>
                        </div>
                        <div class="col s6 form-nav">
                            <button type="button" data-nav="workouts" class="deep-orange waves-effect waves-light btn">Prev</button>
                            <button type="button" data-nav="home" class="deep-orange waves-effect waves-light btn">Exit</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}