{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header active"><span class="">1</span> Exercises</div>
                <div class="collapsible-body">
                    <div class="row">
                        <form id="exercise-form" method="post" class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="exercise-name" type="text"  name="exercise-name" class="validate" required>
                                    <label for="exercise-name">Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>Image</span>
                                            <input id="file-input" type="file" name="eif" required>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="input-field col s12">-->
                                <!--    <select name="exercise-muscle-group" multiple required>-->
                                <!--      <option value="" disabled selected>Choose your option</option>-->
                                <!--      <option value="chest">Chest</option>-->
                                <!--      <option value="biceps">Biceps</option>-->
                                <!--      <option value="triceps">Triceps</option>-->
                                <!--      <option value="forearms">Forearms</option>-->
                                <!--      <option value="deltoids">Deltoids</option>-->
                                <!--      <option value="rhomboids">Rhomboids</option>-->
                                <!--      <option value="abs">Abs</option>-->
                                <!--      <option value="obliques">Obliques</option>-->
                                <!--      <option value="traps">Traps</option>-->
                                <!--      <option value="lats">Lats</option>-->
                                <!--      <option value="1ower-back">Lower Back</option>-->
                                <!--      <option value="glutes">Glutes</option>-->
                                <!--      <option value="groin">Groin</option>-->
                                <!--      <option value="quads">Quads</option>-->
                                <!--      <option value="hamstrings">Hamstrings</option>-->
                                <!--      <option value="calves">Calves</option>-->
                                <!--    </select>-->
                                <!--    <label>Muscle Group</label>-->
                                <!--</div>-->
                                <!--<div class="input-field col s6">-->
                                <!--    <input placeholder="Duration in minutes" id="first_name" type="number" name="exercise-duration" min="1" max="1000" class="validate" required>-->
                                <!--    <label for="first_name">Duration</label>-->
                                <!--</div>-->
                                <!--<div class="input-field col s6">-->
                                <!--    <input placeholder="Difficulty from 1 to 10" id="first_name" type="number" name="exercise-difficulty" min="1" max="10" class="validate" required>-->
                                <!--    <label for="first_name">Difficulty</label>-->
                                <!--</div>-->
                                <!--<div class="input-field col s6">-->
                                <!--    <input placeholder="Number of sets" id="first_name" type="number" name="exercise-sets" min="1" max"1000" class="validate" required>-->
                                <!--    <label for="first_name">Sets</label>-->
                                <!--</div>-->
                                <!--<div class="input-field col s6">-->
                                <!--    <input placeholder="Number of reps" id="first_name" type="number" name="exercise-reps" min="1" max="1000" class="validate" required>-->
                                <!--    <label for="first_name">Reps</label>-->
                                <!--</div>-->
                                <!--<div class="input-field col s12">-->
                                <!--    <textarea id="textarea1" name="exercise-notes" class="materialize-textarea" required></textarea>-->
                                <!--    <label for="textarea1">Notes</label>-->
                                <!--</div>-->
                            </div>
                            <div class="col s6">
                                <button type="submit" data-save="exercise" class="waves-effect waves-light btn"><i class="material-icons left">save</i>Save</button>
                            </div>
                            <div class="col s6">
                                <button type="button" data-nav="home" class="waves-effect waves-light btn">Exit</button>
                                <button type="button" data-nav="workouts" class="waves-effect waves-light btn">Next</button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                                    <label for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name" type="text" class="validate">
                                    <label for="last_name">Last Name</label>
                                </div>
                            </div>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>PROGRAM IMAGE</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Textarea</label>
                                </div>
                            </div>
                            <div class="col s6">
                                <button type="button" data-nav="exercises" class="waves-effect waves-light btn">Prev</button>
                                <button type="button" data-nav="program" class="waves-effect waves-light btn">Next</button>
                            </div>
                        </form>
                    </div>
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                    <div class="col s6">
                        <button type="button" data-nav="workouts" class="waves-effect waves-light btn">Prev</button>
                        <button type="button" data-nav="home" class="waves-effect waves-light btn">Exit</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}