<!DOCTYPE html>
<html lang="en">
    
<!-- This section adds the head information of all pages and templates within the application. -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% block head %} {% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/tablet.css')}}" media="screen and (max-width:993px)">
    <link rel="stylesheet" href="{{url_for('static', filename='css/mobile.css')}}" media="screen and (max-width:600px)">
    <link rel="icon" href="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/icon.png" type="image/gif" sizes="32x32">
    
</head>

<!-- The body section displays all visable elements on the page -->
<body>
    
    <!-- This section will get the content from the necessary template page to display. -->
    {% block content %} {% endblock %}
    
    <!-- This section will display the footer created in the inlcude folder. -->
    {% include "includes/footer.html" %}

<!-- BODY -->
    <!-- This section adds the page scripts required for the template. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block scripts %} {% endblock %}

</body>
</html>