<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="icon" href="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/icon.png" type="image/gif" sizes="32x32" />
    
</head>
<body>
    
    <nav class="">
        <div class="container">
            <div class="nav-wrap">
                <div class="nav-home"> 
                    <a href="{{url_for('home')}}" class="brand-logo">
                        Trainer&nbsp;
                        <img src="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/icons.png" height="30px" />
                    </a>
                </div>
                <div class="nav-btn">
                    <a href="{{url_for('add_program')}}" class="deep-orange waves-effect waves-light btn"><i class="material-icons left">add_circle</i>add program</a>
                </div>
            </div>
        </div>
    </nav>
    
    {% block content %} {% endblock %}
    
    <footer class="footer-img page-footer">
        <div class="footer-overlay">
            <div class="container">
                <div class="row align-grid">
                    <div class="col s4 footer-col">
                        <div>
                            <h5 class="white-text">Inspire Me</h5>
                            <p class="grey-text text-lighten-2  mt-1">{{ quote }}</p>
                            <div class="mt-1">
                                <a target="_blank" href="https://www.linkedin.com/in/ferenc-kovacs-06190671/">
                                    <img src="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/linkedin.svg" height="30px" weight="30px">
                                </a>
                                <a target="_blank" href="https://github.com/K0vacs/">
                                    <img src="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/github.svg" height="30px" weight="30px">
                                </a>
                                <a target="_blank" href="https://k0vacs.github.io/Ferenc-Kovacs-Resume/">
                                    <img src="https://traineroneonebucket.s3-eu-west-1.amazonaws.com/website.svg" height="30px" weight="30px">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col s4 footer-col">
                        <div>
                            <h5 class="white-text">Programs</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-2" href="#!">Athena's Playbook</a></li>
                                <li><a class="grey-text text-lighten-2" href="#!">Strength Protocol</a></li>
                                <li><a class="grey-text text-lighten-2" href="#!">Boxer Prime</a></li>
                                <li><a class="grey-text text-lighten-2" href="#!">Total Abs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s4 footer-col ">
                        <div>
                            <h5 class="white-text">Workouts</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-2" href="#!">Fast Paced Cardio</a></li>
                                <li><a class="grey-text text-lighten-2" href="#!">Tendon Strength</a></li>
                                <li><a class="grey-text text-lighten-2" href="#!">Recruit</a></li>
                                <li><a class="grey-text text-lighten-2" href="#!">Stand & Deliver</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        © 2019 Copyright Reserved
                        <a class="grey-text text-lighten-2 right" href="{{url_for('add_program')}}">Add Program</a> 
                    </div>
                </div>
            </div>
        </div>
    </footer>

<!--BODY    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>
</html>