{% extends 'base.html' %} {% block content %}

<section class="excersises-section">
    <div class="workout-panel">
        <div>
        <h1>Your Workout Name Here</h1>
        <p>
            <span>Difficulty: Hard</span>
            <span>Duration: 30 Minutes</span>
            <span>Muscle Group: Shoulders</span>
            <span>Goal: Weight Loss</span>
            <span>Equipment: Full Gym</span>
        </p>
        </div>
    </div>
    <div class="excersises-panel">
        <div class="excersises-carousel">
            <div>
                <div class="slide">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://imgnooz.com/sites/default/files/wallpaper/nature/60859/beautiful-mountain-view-wallpapers-60859-6213432.jpg" height="200">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">filter_list</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="slide">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://imgnooz.com/sites/default/files/wallpaper/nature/60859/beautiful-mountain-view-wallpapers-60859-6213432.jpg" height="200">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">filter_list</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}