{% extends 'base.html' %} {% block content %}
{{ test }}
<section class="hero-section">
    <div class="home-carousel">
    <div>
        <div class="slide slide-1">
            <div class="container center">
                <h1>Heading 1</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatem nobis labore praesentium distinctio consequuntur dolorem optio expedita mollitia odio voluptas, cumque incidunt dignissimos odit ullam libero eligendi! Sequi, repellat!</p>
                <a class="deep-orange waves-effect waves-light btn-large">button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="slide slide-2">
            <div class="container left">
                <h1 class="left">Heading 2</h1>
                <p class="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatem nobis labore praesentium distinctio consequuntur dolorem optio expedita mollitia odio voluptas, cumque incidunt dignissimos odit ullam libero eligendi! Sequi, repellat!</p>
                <a class="deep-orange left waves-effect waves-light btn-large">button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="slide slide-3">
            <div class="container right">
                <h1 class="right">Heading 3</h1>
                <p class="right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatem nobis labore praesentium distinctio consequuntur dolorem optio expedita mollitia odio voluptas, cumque incidunt dignissimos odit ullam libero eligendi! Sequi, repellat!</p>
                <a class="deep-orange right waves-effect waves-light btn-large">button</a>
            </div>
        </div>
    </div>
    <!--<div class="container">-->
    <!--    <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>-->
    <!--    <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>-->
    <!--</div>-->
</div>
</section>

<section class="container mb-1">
    <h4>Programs</h4>
    <div class="row align-grid">
        {% for item in programs %}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{item.programImg}}">
                        <a href="{{url_for('workouts', id=item._id)}}" class="deep-orange btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">arrow_forward</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{item.programName}}</span>
                        <p>{{item.programNotes}}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{url_for('add_program', category='programs', id=item._id)}}" class="teal-text">Edit</a>
                        <a href="#modal" class="red-text delete-modal modal-trigger" data-delete="{{url_for('delete_item', category='programs', id=item._id)}}">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <h4>Delete Item</h4>
            <p>Are you sure you want to delete this item?</p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat delete-link">Yes</a>
            <a class="modal-close waves-effect waves-red btn-flat">No</a>
        </div>
    </div>
</section>

{% endblock %}