{% extends 'base.html' %} {% block content %}

<section class="hero-section">
    <div class="home-carousel">
    <div>
        <div class="slide">
            <div class="container center">
                <h1>Heading 1</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatem nobis labore praesentium distinctio consequuntur dolorem optio expedita mollitia odio voluptas, cumque incidunt dignissimos odit ullam libero eligendi! Sequi, repellat!</p>
                <a class="waves-effect waves-light btn-large">button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="slide">
            <div class="container left">
                <h1 class="left">Heading 2</h1>
                <p class="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatem nobis labore praesentium distinctio consequuntur dolorem optio expedita mollitia odio voluptas, cumque incidunt dignissimos odit ullam libero eligendi! Sequi, repellat!</p>
                <a class="left waves-effect waves-light btn-large">button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="slide">
            <div class="container right">
                <h1 class="right">Heading 3</h1>
                <p class="right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatem nobis labore praesentium distinctio consequuntur dolorem optio expedita mollitia odio voluptas, cumque incidunt dignissimos odit ullam libero eligendi! Sequi, repellat!</p>
                <a class="right waves-effect waves-light btn-large">button</a>
            </div>
        </div>
    </div>
</div>
</section>

<section class="container">
    <div class="card-panel row">
        <div class="input-field col s2">
            <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        </div>
        <div class="input-field col s2">
            <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        </div>
        <div class="input-field col s2">
            <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        </div>
        <div class="input-field col s2">
            <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        </div>
        <div class="input-field col s4">
            <a class="waves-effect waves-light btn"><i class="material-icons left">add_circle</i>add program</a>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        {% for program in programs %}
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="https://imgnooz.com/sites/default/files/wallpaper/nature/60859/beautiful-mountain-view-wallpapers-60859-6213432.jpg" height="200">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">filter_list</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{program.exercise.exercise_name}}</span>
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="https://imgnooz.com/sites/default/files/wallpaper/nature/60859/beautiful-mountain-view-wallpapers-60859-6213432.jpg" height="200">
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">filter_list</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="https://imgnooz.com/sites/default/files/wallpaper/nature/60859/beautiful-mountain-view-wallpapers-60859-6213432.jpg" height="200">
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">filter_list</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="https://imgnooz.com/sites/default/files/wallpaper/nature/60859/beautiful-mountain-view-wallpapers-60859-6213432.jpg" height="200">
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">filter_list</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}