{% extends 'base.html' %} {% block content %}

    <section class="container">
        <div class="row align-grid">
            {% for item in workout %}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{item.workoutImg}}">
                            <a href="{{url_for('exercises', id=item._id)}}" class="deep-orange btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">filter_list</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{item.workoutName}}</span>
                            <p>{{item.workoutNotes}}</p>
                        </div>
                        <div class="card-action">
                            <a href="{{url_for('add_program', category='workouts', id=item._id)}}" class="teal-text">Edit</a>
                            <a href="{{url_for('delete_item', category='workouts', id=item._id)}}" class="red-text delete-link">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}