/* ----- Excersises Slider ----- */

.excersises-section {
    display: flex;
    background-color: #fff;
}

.excersises-section h1 {
    font-size: 106px;
    font-weight: 700;
    margin: 2rem 15px 2rem 15px;
}

.workout-panel p {
    margin: 0 15px 2rem 15px;
}

.workout-panel span {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
    padding: 4px 6px;
    line-height: 22px;
    margin-right: 3px;
}

.workout-panel,
.excersises-panel {
    flex: 1;
    height: 550px;
}

.workout-panel {
    display: flex;
    align-items: center;    
}

.excersises-panel {
    min-width: 0;
    min-height: 0;
}

.excersises-section .card {
    width: 50%;
    margin: auto;
}

.excersises-section .slide {
    height: 550px;
}