/* ----- Hero Slider ----- */

.hero-section {
    background-color: #000;
    height: 500px;
}

.home-carousel {
    display: none;
    height: 500px;
}

.center {
    align-items: center;
}

.left {
    align-items: flex-start;
}

.right {
    align-items: flex-end;
}

.slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    background-image: url(https://imgnooz.com/sites/default/files/wallpaper/nature/60859/beautiful-mountain-view-wallpapers-60859-6213432.jpg);
}

.slide .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slide h1 {
    color: #fff;
    font-weight: 700;
    margin: 1rem 0 1rem 0;
}

.slide p {
    color: #fff;
    max-width: 70%;
    margin: 1rem 0 1rem 0;
}

.center p {
    text-align: center;
}

.left p {
    text-align: left;
}

.right p {
    text-align: right;
}

.slide a {
    margin: 1rem 0 1rem 0;
}

.slick-prev {
    left: 15px;
    z-index: 1;
    width: 50px;
    height: 50px;
}

.slick-next {
    right: 15px;
    z-index: 1;
    width: 50px;
    height: 50px;
}

.slick-prev:before {
    font-family: 'Material Icons';
    content: "\e314";
    color: #fff;
    font-size: 45px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.slick-next:before {
    font-family: 'Material Icons';
    content: "\e315";
    color: #fff;
    font-size: 45px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.slick-dots {
    bottom: 15px;
}

.slick-dots li,
.slick-dots li button {
    width: 30px;
    height: 30px;
}

.slick-dots li button:before {
    color: #9e9e9e;
    font-size: 15px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    opacity: 0.9;
}

.slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
}